* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    margin: 20px auto;
    width: 80vw;
}

.counter {
    margin: 20px auto;
    width: 80vw;
    font-weight: 600;
    font-size: 20px;
}

.table {
    width: 80vw;
    margin: 10px auto;
}

.row {
    display: flex;
    border: 3px solid blueviolet;
    border-bottom: none;
}

.row-heading {
    background-color: #d9aef3;
    font-weight: 600;
}

.row:last-child {
    border-bottom: 3px solid blueviolet;
}

.column-active {
    background-color: #da0a0a;
}

.column {
    flex: 1;
    border-right: 3px solid blueviolet;
}

.mobile-column {
    padding: 5px;
}

.mobile-column:hover {
    background-color: #d218b1;
    color: white;
    text-decoration: underline;
}

.desktop-column {
    padding: 5px;
}

.desktop-column:hover {
    background-color: #d218b1;
    color: white;
    text-decoration: underline;
}

.column:last-child {
    border-right: none;
}

/*MOBILE*/
@media screen and (max-width: 800px) {
    .table {
        width: 95vw;
    }

    .row-heading {
        display: none;
    }

    .row {
        flex-direction: column;
    }

    .column {
        border: none;
    }

    .desktop-column {
        display: none;
    }
}

/*DESKTOP*/
@media screen and (min-width: 801px) {
    .mobile-column {
        display: none;
    }
}
